
/** RESET **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** FONT **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/** ********************************************************** **/
/** DISEÑO DE LA HOME  **/
/** ********************************************************** **/


.grid-container-home{
    width: 100%;
    margin: 0 auto;
    /** habilita la grilla de la home**/ 
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "head head"
    "nav nav"
    "main intro"
    "main intro"
    "foot foot";

}

.cabecera{
    grid-area:head;
    font-family: "Roboto", sans-serif;
    background-color: rgb(87, 134, 161) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.tituloProyecto{
    color: beige;
    justify-self: center;
    align-self: center;
    padding-right: 20px;
    font-size: 20px;
    
}


/*******************************/
/* PARA EL NAVBAR DE BOOTSTRAP */
/********************************/
.navbar {
    grid-area: nav;
    display: grid;
    background-color:azure;
    }
.container-fluid{
    font-family: "Roboto", sans-serif;
    font-size: 18px ;
    background-color:azure;
    color: rgb(49, 160, 160);
}
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}
.container-fluid div a {
    color: rgb(49, 160, 160);
}

/**************************/
/* el MAIN de la HOME     */
/**************************/
.hero{
    font-family: "Roboto", sans-serif;
    grid-area:main;
    display: grid;
    background-color: beige;
    padding: 10px;
}
.heroPresentacion h1{
    font-size: x-large;
    color: cornflowerblue;
}
.heroMapaGlobal {
    border: 5px  ;
    position: relative;
}
.heroMapaGlobal h2{
    position: absolute;
    width: 100% ;
    top: 0;
    color: rgba(167, 211, 211, 0.938);
    background-color: rgba(128, 128, 128, 0.404) ;

}
.heroMapaGlobal img{
    width: 100% ;
    object-fit: cover;
}
.intro{
    grid-area:intro;
    display:grid;
    background-color:beige;
    padding: 5px;
}
.introLista ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.introLista ul div h3 {
    font-size: large;
    color: cornflowerblue;
}
.introLista ul div p {
    font-size: medium;

}
.introLista ul div a {
    font-size: small;
   
}
/**********************************/
/* el NAVBAR de los PUNTOS DE INTERES     */
/**********************************/
.grid-container-pois{
    width: 100%;
    margin: 0 auto;
    /** habilita la grilla de los puntos de interes**/ 
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "head head head"
    "nav nav nav "
    "datos datos aside"
    "datos datos aside"
    "foot foot foot";

}
/**********************************/
/* el MAIN de los PUNTOS DE INTERES     */
/**********************************/
.puntosInteres{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    grid-area: datos;
    background-color: beige;
    padding: 10px;
}
.datosPois h3{
    background-color: rgb(87, 134, 161);
    color: beige;
}
.datosPois label{
    color:  rgb(87, 134, 161);
}
.poisGaleria h5{
font-weight:bold;
color:  rgb(87, 134, 161);
}
.poisDetalle{
    font-family: "Roboto", sans-serif;
    width: 50%;
    padding: 10px;
}
.poisGaleria{
    font-family: "Roboto", sans-serif;
    width: 50%;
    padding: 10px;
}

.datosPois_nombre
{font-size:x-large;
color: aliceblue;
background-color: cornflowerblue;
}

/**********************************/
/* el ASIDE de los PUNTOS DE INTERES     */
/**********************************/


.asideListaCardPois{
    font-family: "Roboto", sans-serif;
    grid-area:aside;
    display: grid;
    background-color: rgba(233, 211, 183, 0.452);
    padding: 10px;
}
.asideListaCardPois h3{
background-color: rgba(161, 118, 61, 0.452);
text-align:center;
}

.asideListaCardPois h5{
    background-color: rgba(218, 189, 151, 0.452);
    text-align:left;
    }
    



.pie{
    font-family: "Roboto", sans-serif;
    grid-area:foot ;
    padding: 10px;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(87, 134, 161);
}
.pie h4{
    color: rgb(13, 53, 85);
}
.botonAccion{
    color: cornsilk;
}



/**********************************************************/
/* RESPONSIVES                                              */
/* A DISPOSITIVO TABLET 700PXS                            */
/**********************************************************/

@media screen and  (max-width:700px )
{
    /***** DE LA HOME *******/
    .grid-container-home{
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "head"
        "nav"
        "main"
        "main"
        "intro"
        "foot";
    }
    .cabecera{
        grid-area:head;
        display: flex;
        flex-direction: column;
         }
    
    .tituloProyecto{
            justify-self: left;
            align-self: left; 
        }
    .tituloProyecto h1{ font-size: 20px; }    
    .logo img{
        display: none;
    } 

    .heroPresentacion h1{
        font-size: medium;
    }
    .heroPresentacion p{
        font-size: small;
    }
    .introLista ul div h3 {
        font-size: medium;
        color: cornflowerblue;
    }
    .introLista ul div p {
        font-size: small;
    
    }
    .introLista ul div a {
        font-size: x-small;
    }

  /***** DE los puntos de interes POIs *******/
    .grid-container-pois{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "head head "
        "nav nav  "
        "datos aside"
        "datos aside"
        "datos aside"
        "foot foot";
    
    }
    .puntosInteres{
        font-family: "Roboto", sans-serif;
        grid-area:datos;
        display: flex;
        flex-direction: column;
        background-color: beige;
        padding: 10px;
        width: 100%;
    }
  .poisDetalle{
    width: 100%;
}
.poisGaleria{
    width: 100%;
    padding: 0;
}


.pie{
        flex-direction: column; }


    }
/**********************************************************/
/* RESPONSIVES                                              */
/* A DISPOSITIVO MOBILE 350PXS                            */
/**********************************************************/

@media screen and  (max-width:350px )
{

     /***** DE LA HOME *******/

    .grid-container-home{
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "head "
        "nav"
        "main"
        "main"
        "intro"
        "foot";
    }
    .cabecera{
    grid-area:head;
    display: flex;
    flex-direction: column;
    }   
    .logo img{
        display: none;
    } 
    .tituloProyecto h1{ font-size: 15px; }     
    
    .menuPrincipal ul{
        flex-direction: column;
        text-align: left;
    }   
    .menuPrincipal ul li a{
        font-size: 10px ;
        text-align: left;
    }
    .menuPrincipal ul li p{
        font-weight: 700;
        font-style:normal;
        font-size: 12px ;
        text-align: left;
    }
  /***** DE los puntos de interes POIs *******/
  .grid-container-pois{
    grid-template-columns: 100% ;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "head"
    "nav  "
    "aside"
    "datos"
    "datos"
    "datos"
    "foot";
}

}