/********************************/
/** GRID CONTAINER DEL HOME +/
/********************************/

.grid-container-home{
    width: 100%;
    margin: 0 auto;
    /** habilita la grilla de la home**/ 
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "head head"
    "nav nav"
    "main intro"
    "main intro"
    "foot foot";

}
.cabecera{
    grid-area:head;
    font-family: "Roboto", sans-serif;
    background-color: rgb(87, 134, 161) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo{
        }
    .tituloProyecto{
        color: beige;
        justify-self: center;
        align-self: center;
        padding-right: 20px;
        font-size: 20px;
    }
}
/********************************/
/** GRID CONTAINER DEL PUNTOS DE INTERES +/
/********************************/

.grid-container-pois{
    width: 100%;
    margin: 0 auto;
    /** habilita la grilla de los puntos de interes**/ 
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "head head head"
    "nav nav nav "
    "datos datos aside"
    "datos datos aside"
    "foot foot foot";

}

/********************************/
/** GRID CONTAINER DE VIAJES  **/
/********************************/

.grid-container-viajes{
    width: 100%;
    margin: 0 auto;
    /** habilita la grilla de los puntos de interes**/ 
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "head head"
    "nav nav "
    "datos aside"
    "datos aside"
    "foot foot";

}