/**************************/
/* el MAIN de la HOME  */
/* SECCION hero  */
/**************************/
.hero{
    font-family: "Roboto", sans-serif;
    grid-area:main;
    display: grid;
    background-color: beige;
    padding: 10px;
    .heroPresentacion{
            h1{
                font-size: x-large;
                color: cornflowerblue;
            }
            p{
                font-size: medium;
            }
   

    }
    .heroMapaGlobal{
        border: 5px  ;
        position: relative;
        h2{
            position: absolute;
            width: 100% ;
            top: 0;
            color: rgba(167, 211, 211, 0.938);
            background-color: rgba(128, 128, 128, 0.404) ;
        
        }
        img{
            width: 100% ;
            object-fit: cover;
        }
    }
}


/**********************************/
/* el MAIN de los PUNTOS DE INTERES     */
/**********************************/
.puntosInteres{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    grid-area: datos;
    background-color: beige;
    padding: 10px;
        .poisDetalle{
            font-family: "Roboto", sans-serif;
            width: 50%;
            padding: 10px;
            .datosPois{

                .datosPois_nombre{
                    background-color: rgb(87, 134, 161);
                    color: beige;
                    font-size:x-large;
                    }        
                div{
                    label{
                        color:  rgb(87, 134, 161);
                    }
                }    
                fieldset{

                }                                   
            }
        }
        .poisGaleria{
            font-family: "Roboto", sans-serif;
            width: 50%;
            padding: 10px;
            .poisMapa{
                h5{
                    font-weight:bold;
                    color:  rgb(87, 134, 161);
                }
                iframe{

                }
            }
            .poisFotos{
                h5{
                    font-weight:bold;
                    color:  rgb(87, 134, 161);
                }
                iframe{

                }

            }

}
}

/**************************/
/* el MAIN de la HOME  */
/* SECCION armado de  REGIONES  */
/**************************/
.ciudades{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-area: datos;
    background-color: beige;
    padding: 10px;
    .ciudadDetalle{
        font-family: "Roboto", sans-serif;
        width: 50%;
        padding: 10px;
        .ciudadDetalleTitulo{
            h2{ color: cornflowerblue;
                font-size:large;
            }
        }
        .datosCiudad{
            h3{
                background-color: rgb(87, 134, 161);
                color: beige;
                font-size:x-large;
            }
        }
    .cardsHospedajes{
        font-family: "Roboto", sans-serif;
        width: 900px;
        padding: 10px;
            h4 {
                font-weight:bold;
                color:  rgb(87, 134, 161);
            }
        }
    .ciudadMultimedia{
            .mapaCiudad{
                font-family: "Roboto", sans-serif;
                width: 50%;
                padding: 10px;
                h4{ 
                    font-weight:bold;
                    color:  rgb(87, 134, 161);
                }
                h5{ 
                    font-weight:bold;
                    color:  rgb(87, 134, 161);
                }
            }
            .galeriaCiudad{
                font-family: "Roboto", sans-serif;
                width: 50%;
                padding: 10px;
                     h5{
                      font-weight:bold;
                       color:  rgb(87, 134, 161);
                    }
                }
        }

    }
}
/**************************/
/* el MAIN de la HOME  */
/* SECCION armado de  VIAJES  */
/**************************/
.viajes{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    grid-area: datos;
    background-color: beige;
    padding: 10px;
    .viajesDetalle{
        font-family: "Roboto", sans-serif;
        padding: 10px;
        width: 100%;
        .viajesDetalleTitulo{
                h1{color: cornflowerblue;
                    font-size:large;
                }
        }
        .datosViaje{
            h2{
                background-color: rgb(87, 134, 161);
                color: beige;
                font-size:x-large;
            }
            p{
                color: blueviolet;
            }
        }
        }
    .agendaViaje{
    background-color: aqua;
    grid-area: datos;
    width: 100%;
    }
}

/**************************/
/* el MAIN de la HOME  */
/* SECCION armado de  VIAJES  */
/**************************/
.pasajeros{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    grid-area: datos;
    background-color: beige;
    padding: 10px;
    .pasajerosDetalle{
        font-family: "Roboto", sans-serif;
        padding: 10px;
        width: 75%;
        .pasajerosDetalleTitulo{
            h2{color: cornflowerblue;
                font-size:large;

            }
        }
        .datosPasajero{
            .datosPasajero_nombreCompleto{
                background-color: rgb(87, 134, 161);
                color: beige;
                font-size:x-large;
            }
        }
        .fotoPasajero{
            background-color: aqua;
            grid-area: datos;
            width: 25%;
        }
    }
}